
// iconfont's icon init
@import '//at.alicdn.com/t/font_435259_bal386qfmdeu3di.css'

.iconfont  
    font-size: 28px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;   
    
.iconfont
      &:hover
         color $thr-clr
.icon-backtotop
    font-size 3em       

.icon-tag,.icon-category
    font-size 1.3em    
.icon-tag-inner
    font-size 1rem
    &:hover
         color $main-clr

.icon-detail
    font-size 1em
.icon-post
    font-size 1em

.icon-left,.icon-right
    font-size 0.9em
    
.icon-date
    font-size 1rem    
.icon-words
    font-size 1.2rem
.icon-eye
    font-size 1.3rem

.icon-open,.icon-close
    font-size 0.8em
.icon-article
    font-size .9em
    padding 0.1em

.icon-search     
    font-size 1rem

.icon-cancel
    cursor pointer

.icon-reward,.icon-noreward
    font-size 2.5em
    opacity .7
        
.icon-pv,.icon-uv
    font-size 1.2em
