//$highlight_theme = hexo-config("highlight_theme")

  $code-font-size         = 16px
  $code-font-family = 'Helvetica','consolas'
  
  $highlight-foreground   = #FF6666 
  $highlight-marked       = $sub-clr
  $line-height-code-block = 0.9

  $highlight-deletion     = #fdd
  $highlight-addition     = #dfd
  $highlight-background   = #eee
  $highlight-current-line = #ebebeb
  $highlight-selection    = #d6d6d6
  $highlight-foreground   = #4d4d4c
  $highlight-comment      = #8e908c

  $highlight-red          = #E24C38
  $highlight-orange       = #e78c45
  $highlight-yellow       = #e7c547
  $highlight-green        = #336600
  $highlight-aqua         = #70c0b1
  $highlight-blue         = #7aa6da
  $highlight-purple       = #c397d8
  $highlight-gray         = #a6a6a6 
  $highlight-gutter       = {
    color: #869194,
    bg-color: #e0e0e0
  }
