<% if (post.photos && post.photos.length){ %>

<div class="article-gallery">

	<% for( i in post.photos){%>

		<div class="gallery-box">
			<a class="gallery-brg"  style="background-image:url(<%- url_for(post.photos[i]) %>")>
		    	<img class="gallery-img" src="<%- url_for(post.photos[i]) %>">
		    </a>
	    </div>

    <%}%>
</div>
<%}%>