.archive-year
	font-size 1.2rem
	font-family $year-font
	clear both
	margin 1.5em 0
	opacity .85
	line-weight 2
	letter-spacing 2px	
	
.archive-item
	font-size 1em
	font-family $archive-font
	clear both
	overflow hidden
	margin 1em 1.8em
	&:hover
		color $thr-clr
.archive-date		
	font-size 1.0em
	opacity .5
	&:hover		
		color $thr-clr
.archive-title
	margin-left 2.2rem
	font-size 1rem	
	&:hover		
		color $thr-clr