.category-item	
	overflow hidden
	margin 2em
	
		
.category-name
	@extend $close 	
	margin-left .8em
	padding-bottom .6em
	letter-spacing 1px
	position relative
	&:hover 	
		color $mian-clr
		
.category-posts 
	display none
	width 100%	
	margin 0
	padding 1rem 0
	padding-left 1.6rem
	
.category-post-item 	
	display block
	margin 1em 1.8em
	letter-spacing .5px		
	&:hover		
		color $thr-clr
.category-post-item a
	margin-left 1rem
	&:hover	
		color $thr-clr