#footer	
	margin 6em 0 3em 0
	text-align center
	color $black
	opacity .7
	font-size .9rem
	clear both
.foot-link a
	position relative
	@extend $close
	margin .4em 0
	color $thr-clr
	&:hover
		color $sub-clr
//busuanzi
.foot-busuanzi,.foot-link,.foot-copyright	
	margin .4em auto