//container 
.container
	display block	
.container,#main
	clear both
	width 98%	
	margin 0 
	padding 0 .2em 
	margin-top 1em	
//toc
#toc
	display none	


//header
.header
	width 100%
.header-nav
	width 100%	
	height 50px
	position relative
	text-align center	
.header-logo
	display inline-block	
	margin 0 auto	
.header-menu
	display none
	
//mobile menu	
.mobile-toggle
	display inline


//post
.post-title
	font-size 2rem
	margin 1rem 0
//post-nav
.nav-prev,.nav-next
	clear both

//post-reward
.reward
	display block
.reward-img-left, .reward-img-right,.reward-brg
	margin 0
	padding .2em 0
	width 100%	
	clear both

//article	
.article-header
	display block
	padding 10px 6px
.article-title  
	display block
	width 100%	
	font-size 1.1rem
.article-date	
	display block
	width 100%	
	padding 6px 0 0 0
	font-size .9rem
.meta
	display none
//archive
.archive-item 
	margin 12px
.archive-title
	margin 4px 0
	display block
	width 100%


//sideber
#sidebar
	width 100%
	margin 0 auto
	clear both
//index
#post
	width 100%
.post-card,.excerpt,.bottom
	width 100%
	padding-bottom .2em
	
//widget
.widget
	display none
.profile
	display block
	margin-top 2rem

//code
.post-content
	width 100%	
.highlight 
	width 100%

//gallery
.gallery-box,.gallery-brg,.gallery-img
	width 100%
//page title
.page-title
	display none

//back-to-top
.back-to-top
	left 80%
	bottom 10%
//paginator
.prev,.next 
	font-size 1rem
	
//category page
.category-item,.category-posts,.category-post-item
	margin 1rem 0 
	padding .1rem

//search
.search-widget
	display none
.search-container	
	position fixed 
	margin 0 auto
	left 0
	top 0
	width 100%
	max-height 85%
	border-radius 0	
.search-input
	width 80%
.search-result
	padding 4px
	overflow hidden
.search-item
	margin 4px 4px 6px 4px


	
//////////js			
.slide-right
	transform translateX(200px)
	transition .5s
	
	
.slide-left
	transform translateX(0px)
	transition .5s	
	