.paginator
  margin 4em 0 
  font-size 1rem 
.prev,.next,.page-number    
  padding .5em 
  margin .2em
  border 1px solid $gray
  border-radius 6px
  &:hover 
    border 1px solid $thr-clr
    color $thr-clr
.current
	color  $thr-clr