html,body
	font-size 18px
	

if sidebar is false
	#main
		width 96%
else
	#main
		width 70%
	#sidebar 
		width 30%	

 
#post
	width 96% 

#toc
	display none    


//gallery
.gallery-box,.gallery-brg,.gallery-img
	width 100%

