.tag a
    @extend $tags    
    font-size .5em 
.small-tag a
    @extend $tags  
    font-size .9em

.tag-wrap	
	@extend $tags  
	display inline-block	
	margin .2em 
.tag-name
	font-size 1rem	
	&:hover
		color $main-clr	

.tag-wrap-line	
	border 1px solid $gray
	padding .4em
	margin .2em
	border-radius 999em